.container {
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.side-col {
  width: 25vw;
  height: 100%;
}
.left-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  .inner-side-col {
    height: 100%;
  }
}
.left-container .btn-area .div-btn + .div-btn {
  margin-top: 20px;
}
.right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}
.center-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: 30px;

  .banner {
    background-repeat: no-repeat;
    height: 4vw;
    cursor: pointer;
    margin: 10px;
  }
}
.center-container {
  width: 100%;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  // padding: 20px;
  margin: 5px 0px;
  z-index: 1;
}
.inner-container {
  width: 45vw;
}

//old
.hint-list {
  display: flex;
  flex-direction: column;

  .hint-text {
    display: inline-block;
    text-align: left;
    margin-bottom: 10px;
    color: #ffffff;
    font-family: "Luckiest Guy", "cursive"; //header
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
  }
}

//new-hint
.hint-container {
  background-color: #bfa38b;
  border: 3px solid #436a4a;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .rowStyle {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1px;
    width: 100%;

    .coloredDivStyle {
      width: 100%;
      min-height: 20px;
      margin-left: 5px;
      background-color: #af9279;
      display: flex;
      align-items: center;
      padding: 8px;
      border-radius: 10px;
      color: #ffffff;
      font-family: "Luckiest Guy", "cursive"; //header
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: capitalize;
    }
  }

  .text {
    text-align: left;
    color: #101010;
    font-family: "Luckiest Guy", "cursive"; //header
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
  }
}
.guess-word {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .box {
    padding: 15px 50px;
    border-radius: 20px;
    background: #fff;
    text-align: center;

    .guess-word-text {
      color: #101010;
      font-family: "Luckiest Guy", "cursive"; //header
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: capitalize;
    }
  }
}

.guess-header-text {
  display: flex;
  text-align: center;
  color: #ffffff;
  font-family: "Luckiest Guy", "cursive"; //header
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.guess-word-text {
  color: #fff;
  font-family: "Lilita One", "cursive"; //regular
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.inner-box {
  display: flex;
  width: 300px;
  height: 35px;
  margin: 10px;
  padding: 0 16px 0 16px;
  border-bottom: 1px solid #dbd8d8;
  align-items: center;
  justify-content: space-between;

  .guess-word-text {
    color: #fff;
    font-family: "Lilita One", "cursive"; //regular
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
  }

  .img-box {
    width: 20px;
    height: 20px;
    background-size: cover;

    &.correct {
      background-image: url("../../Assets/Images/correct.png");
    }

    &.wrong {
      background-image: url("../../Assets/Images/wrong.png");
    }
  }
}

.textbox-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;

  input[type="text"] {
    padding: 15px 10px;
    width: 97%;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.6);
    color: #101010;
    font-family: "Lilita One", "cursive"; //regular
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
  }
}

.button-raw {
  display: flex;
  justify-content: flex-end;

  .result
  {
    justify-content: center;
  }

  .button {
    margin-right: 8px;
    padding: 10px 20px;
    color: #fff;
    font-family: "Luckiest Guy", "cursive";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-variant: small-caps;
    cursor: pointer;
  }

  .primary-btn {
    border: none;
    border-radius: 12px;
    background: linear-gradient(238deg, #7f30ff 0%, #ff4880 100%);
  }

  .skip {
    border-radius: 12px;
    border: 2px solid #b59494;
    background: rgba(255, 255, 255, 0.1);
  }
}

//mobile
@media screen and (max-width: 480px) {
  .container {
    flex-direction: column-reverse;
    align-items: center;
    height: auto;
  }
  .center-container {
    background: transparent;
  }
  .inner-container {
    width: calc(100% - 150px);
  }

  .side-col,
  .side-col-nav,
  .side-col-girl {
    width: 100%;
  }

  .left-container {
    flex-direction: column;
    align-items: center;
  }

  .right-container {
    align-items: center;
  }

  .center-box {
    top: 10px;
    .banner {
      height: 10vw;
    }
  }

  .guess-word .box {
    width: 90%;
  }

  .textbox-container .textbox input[type="text"] {
    width: 90%;
  }
}
