.container {
  .hint-list {
    display: flex;
    flex-direction: column;
    .hint-row {
      display: flex;
      justify-content: space-around;
      margin: 10px;

      .hint-text {
        color: azure;
      }
    }
  }

  .guess-word {
    display: flex;
    margin: 20px;
    flex-direction: column;
    align-items: center;

    .box {
      width: 250px;
      height: 150px;
      display: flex;
      flex-direction: column;
      background-color: orange;
      border: 3px solid black;
      border-radius: 5px;
      justify-content: center;
      align-items: center;
    }
  }

  .guesses-box-row {
    display: flex;
    justify-content: space-around;
    margin: 10px;

    .inner-box {
      display: flex;
      margin: 8px;
      padding: 10px;
      width: 250px;
      height: 35px;
      border-radius: 5px;
      background: gray;
      border: 1px solid black;
      align-items: center;
      justify-content: space-between;
      
      .img-box {
        width: 20px;
        height: 20px;
        background-size: cover;

        &.correct {
          background-image: url('../../Assets/Images/correct.png');
        }

        &.wrong {
          background-image: url('../../Assets/Images/wrong.png');
        }
      }
    }
  }

  .textbox-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;

    .textbox {
      width: 70vh;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      background-color: white;
    }

    .textbox input[type="text"] {
      padding: 10px;
      border: none;
      outline: none;
      font-size: 16px;
      width: 67vh;
    }
  }

  .button-raw {
    display: flex;
    justify-content: space-evenly;
    .button {
      background-color: lightgrey; /* Green */
      border: 1px solid black;
      color: black;
      padding: 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      font-weight: 500;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 12px;
      min-width: 100px;
    }
  }
}
