.container {
  width: 100vw;
  height: calc(98vh - 100px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.side-col {
  width: 25vw;
  height: 100%;
}
.side-col-nav {
  width: 10vw;
  height: 100%;
}
.side-col-girl {
  width: 12vw;
  height: 100%;
}
.left-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.left-container .btn-area .div-btn + .div-btn {
  margin-top: 20px;
}
.right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.center-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: 30px;

  .banner {
    background-repeat: no-repeat;
    height: 4vw;
    cursor: pointer;
    margin: 10px;
  }
}
.center-container {
  width: 100%;
  border-radius: 20px;
  background: rgba(255, 255, 255, 12%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  // margin: 20px 0px;
  z-index: 1;
}
.inner-container {
  width: calc(100% - 70px);
}
.hint-list {
  display: flex;
  flex-direction: column;


  .hint-text {
    display: inline-block;
    text-align: left;
    margin-bottom: 20px;
    color: #ffffff;
    font-family: "Luckiest Guy", "cursive"; //header
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
  }
}
.guess-word {
  display: flex;
  justify-content: center;

  .box {
    padding: 15px 50px;
    border-radius: 20px;
    background: #101010;
    //width: 400px;
    text-align: center;

    .guess-word-text {
      color: #fff;
      font-family: "Luckiest Guy", "cursive"; //header
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: capitalize;
    }
  }
}

.guesses-box-row {
  display: flex;
  justify-content: space-around;
  margin: 10px;

  .inner-box {
    display: flex;
    width: 300px;
    height: 35px;
    margin: 10px;
    padding: 0 16px 0 16px;
    border-bottom: 1px solid #dbd8d8;
    align-items: center;
    justify-content: space-between;

    .guess-word-text {
      color: #fff;
      font-family: "Lilita One", "cursive"; //regular
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: capitalize;
    }

    .img-box {
      width: 20px;
      height: 20px;
      background-size: cover;

      &.correct {
        background-image: url("../../Assets/Images/correct.png");
      }

      &.wrong {
        background-image: url("../../Assets/Images/wrong.png");
      }
    }
  }
}
.textbox-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;

  .textbox input[type="text"] {
    padding: 15px 20px;
    border: none;
    outline: none;
    font-size: 18px;
    width: 25vw;
    padding: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.6);
    color: #101010;
    font-family: "Lilita One", "cursive"; //regular
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
  }
}

.button-raw {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
  .button {
    padding: 10px 20px;
    color: #fff;
    font-family: "Luckiest Guy", "cursive";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-variant: small-caps;
    cursor: pointer;
  }

  .primary-btn {
    border: none;
    border-radius: 12px;
    background: linear-gradient(238deg, #7f30ff 0%, #ff4880 100%);
  }

  .skip {
    border-radius: 12px;
    border: 2px solid #b59494;
    background: rgba(255, 255, 255, 0.1);
  }
}

//mobile 
@media screen and (max-width: 480px) {
  .container {
    flex-direction: column-reverse;
    align-items: center;
    height: auto;
  }
  .center-container {
    background: transparent;
  }
  .inner-container {
    width: calc(100% - 150px);
  }

  .side-col,
  .side-col-nav,
  .side-col-girl {
    width: 100%;
  }

  .left-container {
    flex-direction: column;
    align-items: center;
  }

  .right-container {
    align-items: center;
  }

  .center-box {
    top: 10px;
    .banner {
      height: 10vw;
    }
  }

  .guess-word .box {
    width: 90%;
  }

  .textbox-container .textbox input[type="text"] {
    width: 90%;
  }
}