.div-btn {
  border-radius: 12px;
  // border: 2px solid #b59494;
  background: rgba(255, 255, 255, 0.1);
  width: 310px;
  height: 50px;
  text-align: end;
  position: relative;
  left: -250px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}
.div-btn:hover {
  position: relative;
  left: -190px;
  transition: 0.3s;
}
.div-btn.snap:hover {
  position: relative;
  left: -100px;
  transition: 0.3s;
}
.lable {
  color: #ffffff;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: 16px;
}
.icon {
  margin-right: 16px;
  width: 32px;
}
