.div-btn {
  border-radius: 12px;
  // border: 2px solid #b59494;
  // background: rgba(255, 255, 255, 0.1);
  background: #000;
  width: 310px;
  height: 50px;
  text-align: end;
  position: relative;
  left: -250px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}
.div-btn:hover {
  position: relative;
  // left: -190px;
  transition: 0.3s;
}
.div-btn.snap:hover {
  position: relative;
  left: -100px;
  transition: 0.3s;
}
.lable {
  color: #ffffff;
  font-family:  "Lilita One", "cursive";//regular
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 16px;
}
.icon {
  margin-right: 16px;
  width: 32px;
}
@media screen and (max-width: 480px) {
  .div-btn {
    width: auto; /* Full width for mobile */
    left: 0;
    justify-content: center;
  }

  .div-btn.snap {
    left: -100px; /* Adjust this as needed for the snap effect */
  }

  .lable {
    margin-right: 0; /* Remove margin for mobile */
  }

  .icon {
    margin-right: 0; /* Remove margin for mobile */
  }
}