.header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    width: 35px;
    margin: 0 0 0 10px;
  }

  .div-right{
    display: flex;
    flex-direction: row;
    align-items: center;

    .div-info{
      cursor: pointer;
    }
    .div-stats{
      cursor: pointer;
    }
    .div-snapfingerclick{
      cursor: pointer;
    }
  }