.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 10vh;
  margin-bottom: 17px;
  z-index: 1;

  .logo {
    height: 7vw;
    margin-top: 5px;
  }
}

@media screen and (max-width: 480px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 3rem;
    margin-bottom: 50px;
    z-index: 1;

    .logo {
      height: 20vw;
      margin-top: 5px;
    }
  }
}
