.body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #000000;
  background-image: url("../src/Assets/Images/bg-gradiant.svg");
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.main {
  flex: 1;
}

.nav button {
  background-color: #444;
  color: #fff;
  border: none;
  padding: 8px 16px;
  margin-right: 10px;
  cursor: pointer;
}

.content {
  padding: 20px;
  border: 1px solid #ddd;
}

.footer {
  background-color: #000000;
  padding: 10px 0;
  height: 4vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  align-items: center;

  .wishlist-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;

    .label {
      color: #ffffff;
      font-family: "Work Sans", sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 200;
      line-height: normal;
      text-transform: capitalize;
    }
  }

  .wishlist-text :hover {
    font-size: 18px;
    transition: 0.4s;
    cursor: pointer;
  }

  .div-social {
    width: 330px;
    height: 20px;
    display: flex;
    justify-content: center;

    .link-social {
      color: #ffffff;
      margin-left: 20px;
      font-size: 18px;
    }

    .link-social :hover {
      font-size: 22px;
      transition: 0.1s;
    }
  }
}
